Images
.RData
.Rhistory
# Tutorials and walkthroughs
Categorydatasets.R
exploringAdegenet.R
code_walkthrough.Rmd
resamplingwalkthru.R
exampleSimulation.R
RaMP_SimulationIntro.R
testscript.R
# QUAC scripts
MSATalleleCategory.R
SNPcomalleleCategory.R
SNPsuballeleCategory.R
# Datasets
QUAC.MSAT.Complete_resampArr.Rdata
QUAC.SNP.DN.R0.Complete_resampArr.Rdata
QUAC.SNP.DN.R80.Subset_resampArr.Rdata
# Output
datasetCIwidths.csv