Images
.RData
.Rhistory
# Tutorials and walkthroughs
exploringAdegenet.R
code_walkthrough.Rmd
resamplingwalkthru.R
# QUAC scripts
MSATalleleCategory.R
SNPcomalleleCategory.R
SNPsuballeleCategory.R
# Output
datasetCIwidths.csv